In [103]:
import pandas as pd
import numpy as np

from functools import reduce

import os

# Ingeniería de datos Aire CDMX

In [104]:
ruta="bigdatita/Aire_cdmx"
lista=[ os.path.join(ruta,arch) for arch in os.listdir(ruta) ]
lista.sort()

In [105]:
df=reduce(lambda x,y:pd.concat([x,y]),map(lambda x:pd.read_excel(x).assign(CONTAMINANTE=x.split('.')[0][24:]),lista[0:2]))

In [106]:
df.head()

,FECHA,HORA,LAG,TAC,FAC,TLA,XAL,MER,PED,CES,...,TAX,MIN,TLI,ATI,VIF,SAG,VAL,AZC,SUR,CONTAMINANTE
0,2000-01-01,1,2.3,1.0,-99.0,3.7,6.2,2.8,1.6,2.6,...,4.1,3.4,3.1,1.5,2.6,2.5,1.3,3.5,-99.0,CO
1,2000-01-01,2,2.3,2.0,-99.0,2.6,6.5,2.8,1.3,2.9,...,6.3,4.1,2.7,1.4,3.5,2.7,3.5,3.2,-99.0,CO
2,2000-01-01,3,1.8,1.8,-99.0,3.1,6.3,2.9,1.4,3.1,...,6.4,4.5,2.9,2.0,3.6,3.2,4.7,3.1,-99.0,CO
3,2000-01-01,4,2.3,1.7,-99.0,3.4,6.6,2.8,1.9,2.8,...,7.1,5.9,4.1,1.9,3.3,3.5,5.4,4.2,-99.0,CO
4,2000-01-01,5,3.1,1.5,-99.0,3.6,9.7,3.4,1.8,3.5,...,4.9,5.5,5.0,1.4,3.7,3.1,5.2,3.0,-99.0,CO

In [107]:
estaciones=list(df.columns[2:-1])
id_=list(df.columns[:2])

In [108]:
mdf=pd.melt(df,id_vars=id_+["CONTAMINANTE"],value_vars=estaciones,var_name="ESTACION",value_name="VALOR")
mdf.head()

       FECHA  HORA CONTAMINANTE ESTACION  VALOR
0 2000-01-01     1           CO      LAG    2.3
1 2000-01-01     2           CO      LAG    2.3
2 2000-01-01     3           CO      LAG    1.8
3 2000-01-01     4           CO      LAG    2.3
4 2000-01-01     5           CO      LAG    3.1

In [109]:
df=mdf.reindex(columns=id_+["ESTACION"]+["VALOR"]+["CONTAMINANTE"])

In [110]:
df.head()

       FECHA  HORA ESTACION  VALOR CONTAMINANTE
0 2000-01-01     1      LAG    2.3           CO
1 2000-01-01     2      LAG    2.3           CO
2 2000-01-01     3      LAG    1.8           CO
3 2000-01-01     4      LAG    2.3           CO
4 2000-01-01     5      LAG    3.1           CO

In [ ]:
df.to_csv("bigdatita/Aire_cdmx/Aire_cdmx.csv",index=False)